/*
Theme Name: the7dtchild
Author: Dream-Theme
Author URI: http://dream-theme.com/
Description: The7 is perfectly scalable, performance and SEO optimized, responsive, retina ready multipurpose WordPress theme. It will fit every site – big or small. From huge corporate portals to studio or personal sites – The7 will become a great foundation for your next project!
Version: 1.0.0
License: This WordPress theme is comprised of two parts: (1) The PHP code and integrated HTML are licensed under the GPL license as is WordPress itself.  You will find a copy of the license text in the same directory as this text file. Or you can read it here: http://wordpress.org/about/gpl/ (2) All other parts of the theme including, but not limited to the CSS code, images, and design are licensed according to the license purchased. Read about licensing details here: http://themeforest.net/licenses/regular_extended
Template: dt-the7
*/

html.lock-scroll, html.lock-scroll body {
    overflow: hidden;
}
body, body.page{
    background-color: #7f7f7e;
}
#bottom-bar.solid-bg {
    background: none ;
}

#page.boxed{
    -webkit-box-shadow: none;
    box-shadow: none;
    /*background-color: #7f7f7e;*/
}
.footer-overlap #page .page-inner{
    margin-bottom:0 !important;
}
#bottom-bar .wf-td p {
    margin-bottom: 0;
    padding: 20px;
    text-align: center;
}
#footer.footer-outline-decoration{
    border-top: 0 !important;
    border-top: 2px solid #E2E2E2;
    position: relative;
    background: none;
}
.home #page{
    background: none;
}

.home #main{
    background: #FFF;
}
.home .page-inner{
    background: none;
}

#page input[type="text"], #page input[type="search"], #page input[type="tel"], #page input[type="url"], #page input[type="email"], #page input[type="number"], #page input[type="date"], #page input[type="range"], #page input[type="password"], #page select, #page textarea, #page .wpcf7-number {
    font-family: "Source Sans Pro", Helvetica, Arial, Verdana, sans-serif;
}

#product-797 .woocommerce-product-gallery--without-images {
    display: none;
}
#product-797 .woocommerce-product-details__short-description{
    display: none;
}

#product-797 .summary.entry-summary {
    width: 100%;
}
ul.uni-cpo-image-select-list li{
    width: 50px;
    height: 50px;
}

#product-797 [data-type="image_select"].select-color ul.uni-cpo-image-select-list li a {
    border-radius: 100%;
}
#product-797 [data-type="image_select"].select-color ul.uni-cpo-image-select-list li.active a {
    border: 2px solid #F69784;
}

#product-797 [data-type="image_select"].select-image ul.uni-cpo-image-select-list li {
    width: auto;
    height: auto;
}

#product-797 [data-type="image_select"].select-image ul.uni-cpo-image-select-list li a {
    width: auto;
    height: auto;
}

#product-797 [data-type="image_select"].select-image ul.uni-cpo-image-select-list li a img {
    max-height: 150px;
    width: auto;
    height: auto;
}
#uni_cpo_option_color ul.uni-cpo-image-select-list li a img{
    width: 100%;
}

#uni_cpo_option_color ul.uni-cpo-image-select-list li a{
    border-width: 2px;
}
#custom-comtact-form {
    font-family: "Source Sans Pro", Helvetica, Arial, Verdana, sans-serif;
}

#custom-comtact-form label.assistive-text {
    position: relative !important;
    display: inline-block;
    padding: 5px 0;
    font-weight: 600;
    text-transform: uppercase;
}

#custom-comtact-form [type="text"] {
    background-color: #F5F5F5;
    border: #E2E2E2 2px solid;
}
#custom-comtact-form [type="text"]::-webkit-input-placeholder {
    color:transparent;
}

#custom-comtact-form [type="text"]:-moz-placeholder { /* Firefox 18- */
    color:transparent;
}

#custom-comtact-form [type="text"]::-moz-placeholder {  /* Firefox 19+ */
    color:transparent;
}

#custom-comtact-form [type="text"]:-ms-input-placeholder {
    color:transparent;
}


#custom-comtact-form textarea {
    background-color: #F5F5F5;
    border: #E2E2E2 2px solid;
    resize: none;

}

#custom-comtact-form textarea::-webkit-input-placeholder {
    color:transparent;
}

#custom-comtact-form textarea:-moz-placeholder { /* Firefox 18- */
    color:transparent;
}

#custom-comtact-form textarea::-moz-placeholder {  /* Firefox 19+ */
    color:transparent;
}

#custom-comtact-form textarea:-ms-input-placeholder {
    color:transparent;
}


#custom-comtact-form .contact-form .dt-btn-submit, #custom-comtact-form .contact-form [type="submit"] {
    border: #e2e2e2 solid 2px;
    color: #777777;
    background-color: #F5F5F5;
    font-family: "Source Sans Pro", Helvetica, Arial, Verdana, sans-serif;
}

#custom-comtact-form .contact-form .dt-btn-submit:hover, #custom-comtact-form .contact-form input[type="submit"]:not([name="update_cart"]):hover {
    border: #737B8A solid 2px;
    color: rgb(229, 229, 229);
    background-color: #737B8A;
}

#custom-comtact-form {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#custom-comtact-form > .vc_col-sm-6 {
    padding: 30px 100px;
}

#custom-comtact-form > .vc_col-sm-6:last-child {
    border-left: 2px solid #E2E2E2;
}

#custom-comtact-form > #custom-contact-info {
    padding: 0;
}

#custom-comtact-form > #custom-contact-info .vc_column-inner {
    padding: 0 15px;
}

#custom-comtact-form > #custom-contact-info .wpb_wrapper > .vc_row {
    border-bottom: 2px solid #e2e2e2;
    padding: 70px;
    max-height: 200px;
}

#custom-comtact-form > #custom-contact-info > .wpb_wrapper > .vc_row > .vc_col-sm-3 {
    border-bottom: 2px solid #e2e2e2;
}

#custom-comtact-form > #custom-contact-info .wpb_wrapper > .vc_row:last-child {
    border-bottom: 0;
}

.custom-social-contact {
    display: inline-block;
}
.custom-social-contact .aio-icon.circle {
    display: block;
}

.custom-social-contact .aio-tooltip {
    border: 2px solid #e2e2e2;
    border-radius: 100%;
    margin-right: 10px;
    text-decoration: none;
}
.custom-social-contact .aio-tooltip:hover {
    border: 2px solid #e2e2e2;
    background-color: #e2e2e2;
}
.custom-social-contact .aio-tooltip:hover>.aio-icon.circle{
    color: #f5f5f5!important;

}
.product .onsale{
    text-indent: -9999px;
    padding: 11px;
}
.onsale:after{
    content: 'In Season';
    top: 0;
    left: 0;
    position: absolute;
    display: inline-block;
    text-indent: 0;
    line-height: 1;
    bottom: 0;
    margin: auto;
    padding: 12px 0;
    font-size: 12px;
}
.main-nav > li > a {
    margin: 0;
    padding: 17px 30px;
}
.top-header .active-bg-decoration > li.act{
    background-color: #FFF;
}

.top-header .outside-item-remove-margin.main-nav > li:last-child > a {
    margin: 0;
    padding: 0 30px;
}
.top-header .outside-item-remove-margin.main-nav > li:first-child > a {
    margin: 0;
    padding: 0 30px;
}

@media  (max-width: 1300px) {
    #custom-comtact-form > .vc_col-sm-6 {
        padding: 30px 70px;
    }
}

@media  (max-width: 1024px) {
    #custom-comtact-form > .vc_col-sm-6 {
        padding: 30px 20px;
    }
}

@media  (max-width: 970px) {
    #custom-comtact-form > #custom-contact-info .wpb_wrapper > .vc_row {
        padding: 70px 30px;
    }
}

@media  (max-width: 767px) {
    #custom-comtact-form > #custom-contact-info .wpb_wrapper > .vc_row:first-child {
        border-top: 2px solid #e2e2e2;
    }
    #custom-comtact-form > #custom-contact-info .wpb_wrapper > .vc_row {
        max-height: inherit;
        padding: 0 20px;
        padding-top: 20px;
    }
}

/* Custom product page */
.postid-797 #main > .wf-wrap{
    padding: 0;
}
.postid-797 #main .uni_cpo_fields_container{
    padding: 30px 70px;
    border-bottom: 2px solid #D9D9D9;
}
.postid-797.woocommerce div.product div.summary h1{
    padding: 0 70px;
}
.postid-797.woocommerce div.product div.summary>.price{
    padding: 0 70px;
}
.postid-797.woocommerce div.product div.summary>.price:after{
    left: 70px;}
/* Custom popup select */
.select-old{
    opacity: 0;
    position: fixed;
    /*transition: 1s;*/
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
.select-old > .uni-cpo-image-select-list{
    width: 620px;
    height: 60%;
    background: #FFF;
    left: 0;
    right: 0;
    top: 120px;
    margin: auto;
    position: absolute;
    padding: 20px;
    overflow: scroll;
    border: 25px solid #FFF;
}
.select-old > .uni-cpo-image-select-list .close{
    position: absolute;
    top: -17px;
    right: -5px;
    font-size: 50px;
    cursor: pointer;
}
.select-old > .uni-cpo-image-select-list .close:after{
    content: "\00d7";
    display: inline-block;
    font-size: 50px;
}
[data-select-id="uni_cpo_option_cord_colour"]{
    padding-bottom: 0px;
}
[data-select-id="uni_cpo_option_cord_colour"] .select-image-select{
    max-width: inherit;
    max-height: 400px;
}
[data-select-id="uni_cpo_option_cord_colour"] .select-item-name{
    /*top: 70px;*/
}
.postid-797 #main #uni_cpo_option_cord_length.uni_cpo_fields_container {
    position: absolute;
    margin-top: -350px;
    border-bottom: 0;
}
div#content div[data-type="image_select"].select-old.select-image > .uni-cpo-image-select-list>li{
    width: 33.333333333333%;
    margin: 0;
    text-align: center;
    margin-bottom: 20px;
    min-height: 200px;
}
div#content div[data-type="image_select"].select-old.select-image > .uni-cpo-image-select-list>li>a {
    width: auto;
    height: auto;
    position: relative;
    display: inline-block;
    border-radius: 0;
    padding: 10px;
    border: 2px solid #D9D9D9;
}
div#content div[data-type="image_select"].select-old.select-image > .uni-cpo-image-select-list>li.active>a{
    border: 2px solid #F69784;
}
ul#uni_cpo_option_hook_gold_list li.active a{
    border-radius: 0;
    border: 2px solid #F69784;
}
#uni_cpo_option_hook_gold_list{
    display: inline-block;
    float: none;
    width: 100%;
    text-align: center;
}
#uni_cpo_option_hook_gold_list>li{
    display: inline-block;
    float: none;
    margin: 0 10px;
}

ul#uni_cpo_option_hook_silver_list li.active a{
    border-radius: 0;
    border: 2px solid #F69784;
}
#uni_cpo_option_hook_silver_list{
    display: inline-block;
    float: none;
    width: 100%;
    text-align: center;
}
#uni_cpo_option_hook_silver_list>li{
    display: inline-block;
    float: none;
    margin: 0 10px;
}



div#content div[data-type="image_select"].select-old.select-image > .uni-cpo-image-select-list>li>a>img{
    max-height: 150px;
    max-width: 150px;
    height: auto;
}
.select-old.hidden{
    display: none !important;
}
.select-old.show{
    opacity: 1;
}
.select-new{
    text-align: center;
    padding-top: 70px;
    position: relative;
    padding-bottom: 70px;
    border-bottom: 2px solid #D9D9D9;
}
.select-title{
    position: absolute;
    font: normal 22px / 32px "Source Sans Pro", Helvetica, Arial, Verdana, sans-serif;
    left: 70px;
    top: 20px;
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase;
}
.select-image-select{
    max-width: 200px;
    max-height: 200px;
}
.select-item-name{
    position: absolute;
    top: 70px;
    font: normal 22px / 50px "Source Sans Pro", Helvetica, Arial, Verdana, sans-serif;
    left: 70px;
    font-weight: 600;
    font-size: 1.00rem;
    text-transform: uppercase;
}
.select-modal{
    position: absolute;
    right: 70px;
    top: 45%;
    text-decoration: none;
    padding: 0 35px;
    font: normal 16px / 40px "Georgia", Helvetica, Arial, Verdana, sans-serif;
    background-color: #f69784;
    /*border: 2px solid #f69784;*/
    border-width: 2px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    background: rgba(255, 255, 255, 0.01);
    color: rgb(0, 0, 0);
}
.select-modal:hover{
    border-color: #f69784;
}
.masthead:not(.side-header):not(.full-width):not(.side-header-v-stroke):not(.side-header-menu-icon){
    padding: 0;
}
.masthead:not(.side-header):not(.side-header-menu-icon) .header-bar{
    max-width: none;
}
.classic-header .navigation > .mini-widgets{
    padding: 0px 30px 0px 40px;
}
#uni_cpo_option_color_list{
    text-align: center;
}
ul#uni_cpo_option_color_list li{
    display: inline-block;
    float: none;
    margin: 0;
    padding: 0 20px;
}
.uni_cpo_fields_header{
    font-weight: 600;
    text-transform: uppercase;
}
.uni-cpo-required-label{
    display: none;
}
.price{
    display: none;
}
#total-price{
    position: absolute;
    width: 50%;
    bottom: 30px;
    left: 70px;
    font: normal 22px / 32px "Source Sans Pro", Helvetica, Arial, Verdana, sans-serif;
    font-weight: 500;
}
#total-price .price{
    display: inline-block;
    margin: 0 10px;
    color: #f69784;
}
#total-price .price .woocommerce-Price-amount.amount{
    display: inline-block;
}

.woocommerce div.product div.summary form.cart{
    padding-bottom: 100px;
    position: relative!important;
}
.product form.cart div.quantity.buttons_added{
    position: absolute;
    left: 70px;
    bottom: -20px;
}
.product form.cart .button[type="submit"]{
    position: absolute;
    left: 170px;
    bottom: -20px;
    margin: auto;
}
.woocommerce-tabs.wc-tabs-wrapper{
    display: none;
}
[data-type="image_select"]{
    position: relative;
}
[data-type="image_select"].select-old{
    position: fixed;
}
.select-title-2{
    top: 90px;
    position: absolute;
    font: normal 22px / 50px "Source Sans Pro", Helvetica, Arial, Verdana, sans-serif;
    left: 70px;
    font-weight: 600;
    font-size: 1.00rem;
    text-transform: uppercase;
}
#product-797  .uni-cpo-radio-option-label {
    display: block;
    position: relative;
    margin: 0;
    font: normal 20px / 40px "Source Sans Pro", Helvetica, Arial, Verdana, sans-serif;
}
.footer-social{
    width: 100%;
    text-align: center;
    margin-top: -30px;
    padding-bottom: 20px;
}

.footer-social a{
    font-size: 20px;
    margin: 0 6px;
}
.footer-social a:hover{
    text-decoration : none !important;
}
#product-797 .woocommerce-product-gallery{
    display: none !important;
}
.mobile-main-nav>li.has-children>a.item-ready:after{
    display: none;
}
.mobile-main-nav>li.has-children>a[data-level="1"]:after{
    display: none;
}
.rev_slider .tp-mask-wrap :last-child {
    text-align: center !important;
}
.form-message label.assistive-text{
    color: #777777;
}
@media (max-width: 768px) {
    .second-switch-logo-left.second-switch-menu-right .mobile-header-bar .dt-mobile-menu-icon{
        margin-right: 10px;
    }
    .select-title-2{
        position: absolute;
        text-align: center;
        display: inline-block;
        top: 80px;
        left: 70px;
    }
    #uni_cpo_option_color_list{
        margin: 0;
        margin-top: 70px;
    }
    #uni_cpo_option_hook_silver_list{
        margin:0;
        margin-top: 70px;
    }
    #uni_cpo_option_hook_gold_list{
        margin:0;
        margin-top: 70px;
    }
    .select-old > .uni-cpo-image-select-list{
        width: auto;
        height: 60%;
        background: #FFF;
        left: 0;
        right: 0;
        top: 120px;
        margin: auto;
        position: absolute;
        padding: 20px;
        overflow: scroll;
        padding-top: 60px;
        border:0;
    }
    div#content div[data-type="image_select"].select-old.select-image > .uni-cpo-image-select-list>li {
        width: 40%;
        display: inline-block;
        margin: 0 10px;
    }

    div#content div[data-type="image_select"].select-old.select-image > .uni-cpo-image-select-list>li>a {
        width: 90%;
        height: auto;
        position: relative;
        display: inline-block;
        border-radius: 0;
        padding: 10px;
        border: 2px solid #D9D9D9;
    }
    div#content div[data-type="image_select"].select-old.select-image > .uni-cpo-image-select-list>li>a>img {
        width: 100%;
    }
    .select-old > .uni-cpo-image-select-list .close{
        top: 0;
        right: 10px;
    }
    .select-image-select{
        margin-top: 60px;
    }
    .select-modal{
        left: 50px;
        right: 50px;
        margin: 0;
        top: inherit;
        bottom: 40px;
    }
    .select-new{
        padding-bottom: 90px;
    }
    [data-select-id="uni_cpo_option_cord_colour"] .select-image-select{
        max-height: 250px;
    }
    [data-select-id="uni_cpo_option_cord_colour"]{
        border: 0;
    }
    .postid-797 #main #uni_cpo_option_cord_length.uni_cpo_fields_container{
        margin-top: 0;
        border-bottom: 2px solid #D9D9D9;
        position: relative;
    }
}